@import 'u-tabs.vue/module.css';

.head {
    background: $background-color-base;
    border-top: 1px solid $border-color-base;
}

.item {
    box-sizing: border-box;
    margin: 0;
    border: none;

    border-left: 1px solid $border-color-base;
    border-right: 1px solid $border-color-base;
    margin-right: -1px;
    height: 28px;
    line-height: 28px;
}

.item:active {
    background: $gray-base;
}

.item[selected] {
    position: relative;
    padding-bottom: 0;
    border-color: #357AC8;
    background: $brand-primary;
    color: white;
}

.item[disabled] {
    background: none;
}

.item[selected][disabled] {
    background: none;
    border-color: $border-color-base;
}

.item:first-child {
    border-left: 0;
}

.body {
    padding: 0;
}
