@import 'proto-ui.vusion/src/u-list-view-group.vue/module.css';

.head {
    background: $background-color-base;
    border-bottom: 1px solid $border-color-base;
    user-select: none;
    cursor: $cursor-pointer;
    padding: 2px 0;
    height: 25px;
    overflow: hidden;
}

.title {
    display: inline-block;
}

.expander {
    position: static;
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    text-align: center;
}

.expander:before {
    color: #6e6e6e;
    font: 10px/20px "Hiragino Sans GB", sans-serif;
    content: '▶︎';
}

.expander[expanded]:before {
    content: '▼';
}

.root[disabled] .expander {
    color: $brand-disabled;
}

.body {
    border-bottom: 1px solid $border-color-base;
}

.root:last-child {
    margin-bottom: -1px;
}
