.root {
    position: relative;
    display: inline-block;
    border: 1px solid $border-color-base;
    border-radius: 3px;
    vertical-align: -7px;
}

.color {
    display: block;
    width: 26px;
    height: 14px;
    margin: 3px;
    border-radius: 2px;
}

.pallette[class] {
    border: none;
}

