@import 'u-tree-view-node.vue/module.css';

.expander {
    width: 20px;
    height: 20px;
    color: #6e6e6e;
    font: 10px/20px "Hiragino Sans GB", sans-serif;
}

.expander:before {
    content: '▶︎';
}

.expander[expanded]:before {
    content: '▼';
}

.text {
    padding: 0;
}
