.root {
    /* flex: none; */
    overflow: hidden;
    /* display: flex; */
    flex-direction: column;
}

.head {
    background: $background-color-base;
    border-bottom: 1px solid $border-color-base;
    user-select: none;
    cursor: $cursor-pointer;
    padding: 2px 0;
    height: 25px;
    overflow: hidden;
}

.expander {
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
}

.expander:before {
    color: #6e6e6e;
    font: 10px/20px "Hiragino Sans GB", sans-serif;
    content: '▶︎';
}

.expander[expanded]:before {
    content: '▼';
}

.root[disabled] .expander {
    color: $brand-disabled;
}

.extra {
    float: right;
    line-height: 0;
}

.body {
    /* flex: auto; */
    overflow: auto;
    background: white;
    border-bottom: 1px solid $border-color-base;
}

.root:last-child {
    margin-bottom: -1px;
}
