.root {
    /* flex: none; */
    overflow: hidden;
    /* display: flex; */
    flex-direction: column;
}

.root[expanded] {
    /* flex: auto; */
}

.head {
    /* flex: none; */
    /* margin-top: -1px; */
    background: $background-color-base;
    border-top: 1px solid $border-color-base;
    border-bottom: 1px solid $border-color-base;
    user-select: none;
    cursor: $cursor-pointer;
    line-height: 24px;
    overflow: hidden;
}

.head:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #6e6e6e;
    font: 10px/20px "Hiragino Sans GB", sans-serif;
    content: '▶︎';
}

.head[expanded]:before {
    content: '▼';
}

.root + .root .head {
    border-top: none;
}

.extra {
    float: right;
    line-height: 0;
}

.body {
    /* flex: auto; */
    overflow: auto;
    border-bottom: 1px solid $border-color-base;
}
