@import 'proto-ui.vusion/src/base/global.css';

$brand-primary: #419bf9;
$border-color-base: #c5c5c5;
$color-base: #252525;

$margin-right-base: 0;
$margin-bottom-base: 0;

$cursor-pointer: default;

$width-base: 100px;
$height-base: 20px;
